<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{ dialogTitle }}</span>
      <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
      <img [src]="target.avatar" class="avatar target-avatar huge m-0" [alt]="target.name" />
      <div class="target-name mt-8">{{ target.name }} ({{ target.nativeName }})</div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
    <form [formGroup]="targetForm">
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Name</mat-label>
          <input name="name" formControlName="name" matInput required />
        </mat-form-field>
       
      </div>

     
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="20px">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Keywords</mat-label>
          <mat-chip-list #keywordChipList>
            <mat-chip
              class="keyword-badge"
              *ngFor="let keyword of targetForm.get('keywords').value; let i = index"
              [selectable]="selectable"
              [removable]="removable"
              (removed)="removeKeyword(i)"
            >
              {{ keyword }}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input
              placeholder="New Keyword..."
              [matChipInputFor]="keywordChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addKeyword($event)"
            />
          </mat-chip-list>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">
    <button
      *ngIf="action === 'edit'"
      mat-button
      class="mr-8"
      
      aria-label="Delete"
      matTooltip="Delete"
    >
      DELETE
    </button>

    <button
      *ngIf="action !== 'edit'"
      mat-button
      class="save-button"
      [disabled]="targetForm.invalid"
      aria-label="SAVE"
    >
      ADD
    </button>

    <button
      *ngIf="action === 'edit'"
      mat-button
      class="save-button"
      [disabled]="targetForm.invalid"
      aria-label="SAVE"
    >
      SAVE
    </button>
  </div>
</div>
