@import 'src/@fuse/scss/fuse';

targets-target-form {
  margin: 1em;

  .mat-card {
    border: 1px solid #ccc;
  }
}

.target-form {
  @include media-breakpoint ('xs') {
    width: 100%;
  }

  @include media-breakpoint ('gt-xs') {
    width: 100%;
  }

  .sub-heading {
    font: 500 16px/20px Roboto, 'Helvetica Neue', sans-serif;
    color: rgba(0, 0, 0, 0.47);
  }

  .bin-group {}

  .keyword-badge {
    background: mat-color(mat-palette($mat-green)) !important;
    fill: mat-color(mat-palette($mat-green)) !important;
    border-radius: 8px !important;
    color: #fff !important;
  }
}
