<div class="list mat-elevation-z1" fxLayout="column">
  <!-- LIST HEADER -->
  <div
    class="list-header"
    fxFlex
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <h3>
      <strong>{{ list.name }}</strong
      >&nbsp;({{ list.idCards.length }})
    </h3>
    <div fxFlex="0 1 auto">
      <button
        color="accent"
        mat-icon-button
        matTooltip="Sync Data"
        (click)="syncData(list.id)"
      >
        <mat-icon>autorenew</mat-icon>
      </button>
      <button
        color="accent"
        mat-icon-button
        matTooltip="Send Data"
        (click)="syncData(list.id)"
      >
        <mat-icon>mail</mat-icon>
      </button>
    </div>
  </div>
  <!-- / LIST HEADER -->

  <!-- LIST CONTENT -->
  <div class="list-content" fxLayout="column">
    <div
      class="list-cards ngx-dnd-container"
      [model]="list.idCards"
      ngxDroppable="card"
      (drop)="onDrop($event)"
      (remove)="onRemove($event)"
      fusePerfectScrollbar
      #listScroll
    >
      <scrumboard-board-card
        ngxDraggable
        class="scrumboard-board-card ngx-dnd-item"
        *ngFor="let cardId of list.idCards"
        [model]="cardId"
        (remove)="onRemove($event)"
        [listId]="list.id"
        [cardId]="cardId"
      >
      </scrumboard-board-card>
    </div>
  </div>
  <!-- / LIST CONTENT -->
</div>
