<!-- CARD DETAILS -->
<div class="list-card-details">
  <!-- CARD SORT HANDLE -->
  <div class="list-card-sort-handle">
    <mat-icon mat-font-icon="icon-cursor-move" class="icon s16"></mat-icon>
  </div>
  <!-- /CARD SORT HANDLE -->

  <!-- CARD LABELS -->
  <div
    *ngIf="card.idBins.length > 0"
    class="list-card-labels"
    fxLayout="row wrap"
  >
    <span
      class="list-card-label"
      *ngFor="let labelId of card.idBins"
      [ngClass]="board.bins | getById: labelId:'color'"
      [matTooltip]="board.bins | getById: labelId:'bin'"
    >
    </span>
  </div>
  <!-- / CARD LABELS -->

  <!-- CARD NAME -->

  <div class="list-card-name" [innerHTML]="card.title"></div>
  <div *ngIf="card.imageUrl" class="article-image">
    <img [src]="card.imageUrl" />
  </div>
  <div class="list-card-summary" [innerHTML]="card.summary"></div>

  <!-- / CARD NAME -->

  <div
    *ngIf="card.keywords"
    class="list-card-badges"
    fxLayout="row"
    fxLayoutAlign="start center"
  >
    <!-- CARD KEYWORDS -->
    <span class="badge keyword" fxLayout="row" fxLayoutAlign="start center">
      <mat-icon class="s-16">label</mat-icon>
      <span>{{ card.keywords }}</span>
    </span>
  </div>
  <div class="list-card-date">
    {{ card.timestamp | date: 'dd MMM yyyy HH:mm' }}
  </div>

  <!-- CARD MEMBERS -->
  <div
    *ngIf="card.idMembers.length > 0"
    class="list-card-members"
    fxLayout="row"
  >
    <div class="list-card-member" *ngFor="let memberId of card.idMembers">
      <img
        class="list-card-member-avatar"
        [src]="board.members | getById: memberId:'avatar'"
        [matTooltip]="board.members | getById: memberId:'name'"
      />
    </div>
  </div>
  <!-- / CARD MEMBERS -->
</div>
<!-- / CARD DETAILS -->

<!-- CARD FOOTER -->
<div
  class="list-card-footer"
  fxLayout="row"
  fxLayoutAlign="space-between center"
>
  <div fxLayout="row" fxLayoutAlign="start center">
    <!-- CARD SUBSCRIBE -->
    <span
      *ngIf="card.link"
      class="list-card-footer-item"
      fxLayout="row"
      fxLayoutAlign="start center"
      (click)="viewArticle(card.link)"
    >
      <mat-icon class="s-18">open_in_browser</mat-icon>
    </span>
    <!-- / CARD SUBSCRIBE -->

    <!-- CARD DETAILS -->

    <button
      mat-icon-button
      color="accent"
      *ngIf="card.summary !== ''"
      class="list-card-footer-item"
    >
      <mat-icon class="s-18">summary</mat-icon>
    </button>
    <!-- / CARD DETAILS -->
  </div>

  <div fxLayout="row" fxLayoutAlign="end center">
    <!-- CARD USAGE DETAILS -->
    <button
      mat-icon-button
      color="accent"
      *ngIf="card.status === 'New'"
      (click)="updateCardStatus('In Work')"
    >
      <mat-icon class="s-18">trending_flat</mat-icon>
    </button>
    <button
      mat-icon-button
      color="accent"
      *ngIf="card.status !== 'New'"
      (click)="openArticlePage()"
    >
      <mat-icon class="s-18">bar_chart</mat-icon>
    </button>
    <button
      mat-icon-button
      color="accent"
      *ngIf="card.status !== 'New'"
      (click)="openActivityDialog()"
    >
      <mat-icon class="s-18">insert_link</mat-icon>
    </button>
    <!-- / CARD USAGE DETAILS -->
  </div>
</div>
<!-- CARD FOOTER -->
