<div class="dialog-content-wrapper">
  <mat-toolbar
    *ngIf="card"
    matDialogTitle
    class="accent m-0"
    fxFlex="1 0 auto"
    fxLayout="row"
  >
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <!-- OPTIONS -->
        <div>Edit Article Details</div>
        <div class="options " fxFlex="0 1 auto">
          <mat-menu #optionsMenu="matMenu" [overlapTrigger]="false">
            <button mat-menu-item (click)="removeCard()">
              Remove Card
            </button>
          </mat-menu>
        </div>
        <!-- / OPTIONS -->
      </div>

      <!-- CLOSE DIALOG BUTTON -->
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close Dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
      <!-- / CLOSE DIALOG BUTTON -->
    </div>
  </mat-toolbar>

  <div
    *ngIf="card"
    mat-dialog-content
    class="py-24 px-0 m-0"
    fusePerfectScrollbar
  >
    <!-- DESCRIPTION -->
    <div class="description px-24 mb-16"></div>
    <!-- / DESCRIPTION -->

    <!-- SECTIONS -->
    <div class="sections">
      <!-- COMMENTS SECTION -->
      <div class="section">
        <div>
          <div *ngIf="usageForm">
            <form
              [formGroup]="usageForm"
              fxLayout="column"
              fxLayoutAlign="start"
              no-validate
            >
              <div
                class="section-header mt-16 mb-16"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <span class="section-title">How was this article used?</span>
              </div>
              <div fxLayout="column" fxLayoutAlign="center start">
                <mat-radio-group
                  class="radio-group pt-1 mr-1 mb-16"
                  formControlName="usageType"
                  #usageType
                  required
                >
                  <mat-radio-button
                    class="pr-1 mr-1 radio-button"
                    *ngFor="let usage of usageTypes; let i = index"
                    [value]="usage"
                  >
                    {{ usage }}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
              <div fxLayout="column" fxLayoutAlign="center start">
                <div
                  class="mt-16 section-header"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                >
                  <span class="section-title">Date Used:</span>
                </div>
                <mat-form-field class="mt-8" appearance="outline" fxFlex>
                  <input
                    formControlName="usageDatePicker"
                    name="usageDatePicker"
                    matInput
                    [matDatepicker]="usageDatePicker"
                    placeholder="Date Used"
                    required
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="usageDatePicker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #usageDatePicker></mat-datepicker>
                </mat-form-field>
                <div
                  class="mt-16 section-header"
                  fxLayout="row"
                  fxLayoutAlign="start center"
                >
                  <span class="section-title">Trackback Link:</span>
                </div>
                <mat-form-field
                  class="pt-8 mb-8 full-width"
                  appearance="outline"
                  fxFlex
                >
                  <mat-label>Link</mat-label>
                  <input
                    matInput
                    formControlName="usageLink"
                    placeholder="URL of Link"
                    pattern="https?://.+"
                    type="url"
                    required
                    url
                  />
                  <mat-error
                    *ngIf="usageForm && usageForm.get('usageLink').invalid"
                    >Must be valid URL</mat-error
                  >
                </mat-form-field>
              </div>

              <button
                mat-raised-button
                class="mat-accent"
                [disabled]="!usageForm.valid || usageForm.pristine"
                aria-label="Save"
                (click)="addUsage()"
              >
                Save
              </button>
            </form>
          </div>
        </div>
      </div>
      <!-- / SECTIONS -->
    </div>
  </div>
</div>
