<div id="dashboard-analytics" class="page-layout blank">
  <div class="main-widget">
    <div
      class="position-relative p-24 blue-600"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <div fxLayout="column" fxLayoutAlign="start start">
        <span class="h2">Articles</span>
        <span class="h5 secondary-text">Matches within last hour</span>
      </div>
      
    </div>

    <div class="position-relative h-256 pb-16 blue-600">
      <canvas
        baseChart
        [datasets]="chartData['hourMatches']"
        [labels]="chartLabels['hourMatches']"
        [colors]="widgets.widget1.colors"
        [options]="widgets.widget1.options"
        [chartType]="widgets.widget1.chartType"
      >
      </canvas>
    </div>
  </div>

  <div class="content">
    <div class="left mr-lg-32">
      <div
        fxLayout="column"
        fxLayoutAlign="space-between center"
        fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between center"
      >
        <!-- Widget 2 -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
          <div
            class="fuse-card auto-width mb-32"
            [ngClass.gt-sm]="'mb-0 mr-32'"
          >
            <div
              class="p-16 pb-16"
              fxLayout="column wrap"
              fxLayoutAlign="center center"
            >
              <div>
                <div
                  class="font-size-72 light-blue-fg font-weight-300 line-height-1 mt-8"
                  fxLayoutAlign="center center"
                >
                  {{ totals.count }}
                </div>
                <div class="h2 secondary-text block">Prompts Generated</div>
              </div>
            </div>
          </div>
        </div>
        <!-- / Widget 2 -->
        <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
          <div
            class="fuse-card auto-width mb-32"
            [ngClass.gt-sm]="'mb-0 mr-32'"
          >
            <div
              class="p-16 pb-16"
              fxLayout="column wrap"
              fxLayoutAlign="center center"
            >
              <div
                class="font-size-72 orange-fg font-weight-300 line-height-1 mt-8"
                fxLayoutAlign="center center"
              >
                {{ totals.checked }}
              </div>
              <div class="h2 secondary-text" fxLayoutAlign="center center">
                Articles Checked
              </div>
            </div>
          </div>
        </div>
        <div class="widget" fxFlex="100" fxFlex.gt-sm="100">
          <div
            class="fuse-card auto-width mb-32"
            [ngClass.gt-sm]="'mb-0 mr-32'"
          >
            <div
              class="p-16 pb-16"
              fxLayout="column wrap"
              fxLayoutAlign="center center"
            >
              <div>
                <div
                  class="font-size-72 red-fg font-weight-300 line-height-1 mt-8"
                  fxLayoutAlign="center center"
                >
                  {{ totals.feeds }}
                </div>
                <div class="h2 secondary-text">RSS Feeds</div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Widget 5 -->

      <div class="fuse-card auto-width">
       
        <div class="position-relative p-24"
                     fxLayout="row" fxLayoutAlign="space-between center">
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <span class="h2">Article Matches</span>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">                        
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                             (click)="selectedArticleRange = 'hour'"
                             [ngClass]="{'accent': selectedArticleRange === 'hour'}">
                            Past Hour
                        </div>
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                             (click)="selectedArticleRange = 'day'"
                             [ngClass]="{'accent': selectedArticleRange === 'day'}">
                            Past Day
                        </div>
                        <div class="py-8 px-12 border-radius-2 line-height-1 mr-8 cursor-pointer"
                             (click)="selectedArticleRange = 'week'"
                             [ngClass]="{'accent': selectedArticleRange === 'week'}">
                            Past Week
                        </div>

                    </div>
                </div>

        <div class="position-relative h-368 pb-16">
          <canvas
            baseChart
            [datasets]="chartData[selectedArticleRange]"
            [labels]="chartLabels[selectedArticleRange]"
            [colors]="widgets.widget5.colors"
            [options]="widgets.widget5.options"
            [chartType]="widgets.widget5.chartType"
          >
          </canvas>
        </div>
      </div>
      <!-- / Widget 5 -->
    </div>

    <div class="right">
      <div fxLayout="row wrap" fxLayout.gt-md="column">
        <!-- Widget 9 -->
        <div class="mb-48" [ngClass.lt-lg]="'mr-32'" [ngClass.xs]="'mr-0'">
          <div class="fuse-card">
            <div
              class="p-16"
              fxLayout="row"
              fxLayoutAlign="space-between center"
            >
              <div class="h1 pr-16">Top Keywords</div>
            </div>

            <table class="simple clickable">
              <thead>
                <tr>
                  <th>Keyword</th>
                  <th class="text-right">Articles</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of keywordMetrics">
                  <td>{{ row.keyword }}</td>
                  <td class="text-right">{{ row.count }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- / widget 9 -->
      </div>
    </div>
  </div>
</div>
